streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
huggingface_hub
python-dotenv
yt-dlp
pytube
openai-whisper
youtube-transcript-api
faiss-cpu
sentence-transformers
rank_bm25
